{% extends 'Adminbase.html'%}
{% load static %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

    img {
        width: 100px;
        height: 100px;
    }

    #img {
        width: 40px;
        height: 40px;
    }
</style>
<!-- contact -->
<div class="contact">
    <div class="container">
        <h3 class="w3l_head w3l_head1">CROP</h3>
        <p class="w3ls_head_para w3ls_head_para1"></p>
        <div class="w3_contact_grids">
            <form action="#" method="post">
                {% csrf_token %}
                <table id="myTable" style="margin-left: 1%; margin-top: 4%;">
                    <th>ID</th>
                    <th>Name</th>
                    <th>QTY</th>
                    <th>Date</th>
                    <th colspan="2">Action</th>
                    </tr>
                    {% for d in data %}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.qty}}</td>
                        <td>{{d.date}}</td>
                        <td><a href="/deletecrop?ab={{d.id}}" class="btn btn-danger"
                                style="margin-top: 7%; margin-left: 5%;">Delete</a></td>
                        <td><a href="/updatecrop?id={{d.id}}" class="btn btn-success"
                                style="margin-top: 7%; margin-left: 5%;">Update</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
<script src="js/classie.js"></script>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>
{% endblock %}