{% extends 'adminbase.html'%}
{% load static %}

{% block content %}
<!-- contact -->
<div class="contact">
    <div class="container">
            <h3 class="w3l_head w3l_head1">Update News</h3>
            <p class="w3ls_head_para w3ls_head_para1"></p>
        <div class="w3_contact_grids" style="margin-left: 200px;">
            <form action="#" method="post">
                {% csrf_token %}
                {% for i in abc %}
                
               <table class="table">
                <tr>
                    <td>News</td><td><input type="text" value="{{i.title}}"  required name="t1" id=""></td>
                </tr>
                <tr>
                    <td>Date</td><td><input type="date" value="{{i.date}}"  required name="t2" id=""></td>
                </tr>
                <tr>
                    <td>About</td><td><input type="text" value="{{i.news}}" name="t3" required id=""></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Submit"></td>
                </tr>
                <tr>
                    <td><h3>{{msg}}</h3></td>
                </tr>
               </table>
               {% endfor %}
                
            </form>
        </div>
    </div>
</div>


<script src="js/classie.js"></script>
<script>
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
    </script>
{% endblock %}